<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8"/>
        <title>{{ page_title }}</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body>
        <nav>
    		<div class="nav-wrapper">
    			<a href="#" class="brand-logo center">Poem In Your Pocket</a>
    		</div>
    	</nav>
        <div class="row">
            <br>
            <br>
            <form method="POST" action="{{ form_url }}">
                {% csrf_token %}
                <div class="row">
                    <div class="container col s4 offset-l4">
                        <!--
                        <select name="feed" id="feed">
                            {%  for topic in feeds %}
                            <option value="{{ topic }}">{{ topic }}</option>
                            {% endfor %}
                        </select>
                    -->
                        {% for topic in feeds %}
                        <div class="waves-effect waves-light btn red accent-1 col s4">
                            <input name="topic" id="{{ topic }}" type="radio">
                            <label for="{{ topic }}" class="white-text">{{ topic }}</label>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                        <div class="input-field col s4 offset-l4">
                            <input id="telephone" type="text" name="phone_number" length="10" class="validate">
                            <label for="telephone">Text this haiku to:</label>
                        </div>
                        <div class="col s6 offset-l3 center">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                        </div>
                </div>
            </form>

            {% if haiku %}
            <div class="card-panel col s6 push-l3 row">
                <div class="valign-wrapper">
                    <h4 class="valign center-align">
                        {{ haiku.0 }}
                        <br>
                        {{ haiku.1 }}
                        <br>
                        {{ haiku.2 }}
                    </h4>
                </div>
            </div>
            {% endif %}
            </div>
        </div>
        <!--
        <div class="row">
            <div class="container col s4 offset-l4">
                <form class="cols s6 offset-13 center" action="{{ form_url }}" method="POST">
                    {% csrf_token %}
                    <h4>Text this haiku to:</h4>
                    <div class="input-field col s4 offset-l4">
                        <input id="telephone" type="text" name="phone_number" length="10" class="validate">
                    </div>
                    <div class="col s6 offset-l3 center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    -->
    </body>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/static/js/materialize.min.js"></script>

    <script>
        $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</html>
