<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8"/>
        <title>{{ page_title }}</title>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>

    <body>
        <nav>
    		<div class="nav-wrapper red accent-4">
    			<a href="#" class="brand-logo center">Poem In Your Pocket</a>
    		</div>
    	</nav>
    	
        <div class="col s12 center grey lighten-2">
            <br>
            <h5>Text for free haikus:<br> 347-329-2301</h5>
            <br>
            </div>
        <div class="container">
        {% if haiku %}
        <div class="row">

            <div class="col s6 offset-s3 center">
                            <h5>{{ haiku.0 }}<br>
                                {{ haiku.1 }}<br>
                                {{ haiku.2 }}
                            </h5>
                            <div class="chip">/{{ from_feed }}</div>
            </div>
            </div>

            {% endif %}
            <div class="row">
            <form method="POST" action="{{ form_url }}" id="haiku-form">
                {% csrf_token %}
                <div class="row">
                    <div class="container col s6 offset-l3">

                        <div class="col s12">
                        <h5>Select a topic</h5>
                        {% for topic in feeds %}
                            <div class="grey lighten-2 col s12 m4 l4 hoverable">
             <input name="topic" id="{{ topic }}" type="radio" value="{{ topic }}" required>
                                <label for="{{ topic }}" class="black-text">{{ topic }}</label>
                            </div>

                        {% endfor %}
                        </div>

                    </div>
                </div>
                        <div class="input-field col s4 offset-l4">
                            <i class="material-icons prefix">phone</i>
                            <input id="telephone" type="text" name="phone_number" placeholder="(XXX) XXX-XXXX" maxlength="14" class="validate">
                            <label for="telephone">(OPTIONAL) Phone number</label>
                        </div>
                <div class="col s12 m6 l6 offset-l3 center">
                    <button class="red accent-4 btn waves-effect waves-light" type="submit" name="action">Generate</button>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="/static/js/materialize.min.js"></script>
        <script>

            $(document).ready(function() {
                $('select').material_select();
                
                $('#telephone')

                	.keydown(function (e) {
                		var key = e.charCode || e.keyCode || 0;
                		$phone = $(this);
                
                		// Auto-format- do not expose the mask as the user begins to type
                		if (key !== 8 && key !== 9) {
                			if ($phone.val().length === 4) {
                				$phone.val($phone.val() + ')');
                			}
                			if ($phone.val().length === 5) {
                				$phone.val($phone.val() + ' ');
                			}			
                			if ($phone.val().length === 9) {
                				$phone.val($phone.val() + '-');
                			}
                		}
                
                		// Allow numeric (and tab, backspace, delete) keys only
                		return (key == 8 || 
                				key == 9 ||
                				key == 46 ||
                				(key >= 48 && key <= 57) ||
                				(key >= 96 && key <= 105));	
                	})
                	
                	.bind('focus click', function () {
                		$phone = $(this);
                		
                		if ($phone.val().length === 0) {
                			$phone.val('(');
                		}
                		else {
                			var val = $phone.val();
                			$phone.val('').val(val); // Ensure cursor remains at the end
                		}
                	})
                	
                	.blur(function () {
                		$phone = $(this);
                		
                		if ($phone.val() === '(') {
                			$phone.val('');
                		}
                	});
            });
        </script>
        </div>
    </body>
</html>
